{% extends 'base.html' %}
{% load encryption_tags %}

{% block content %}
{% if user.is_authenticated%}
    <!-- Search Form -->
    <form method="GET" action="{% url 'search_results' %}">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="search_query" placeholder="Search...">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>

    <table class="table table-striped table-hover table-bordered">
        <!-- Table Header -->
        <thead class="table-dark">
            <tr>
                <th scope="col">CompanyName</th>
                <th scope="col">Comp_Reg_Num</th>
                <th scope="col">comp_address</th>
                <th scope="col">comp_email</th>
                <th scope="col">contact_person</th>
                <th scope="col">contact_phone</th>
                <th scope="col">employees_No</th>
                <th scope="col">Employee</th>
                <th scope="col">department</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
            <tr>
                <td>{{ company.company_name }}</td>
                <td>{{ company.company_reg_number }}</td>
                <td>{{ company.company_address }}</td>
                <td>{{ company.company_email }}</td>
                <td>{{ company.contact_person }}</td>
                <td>{{ company.contact_phone }}</td>
                <td>{{ company.number_of_employees }}</td>
                <td>
                    {% for department in company.departmentrecord_set.all %}
                    {% for employee in department.employeerecord_set.all %}
                    {{ employee.employee_name }} - {{ employee.role}}<br>  <!-- Encrypting employee role -->
                    {% endfor %}
                    {% endfor %}
                </td>
                <td>
                    {% for department in company.departmentrecord_set.all %}
                    {{ department.department_name }}<br>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
    {% else %}


<div class="col-md-6 offset-md-3">

<h1>login</h1>

<form method="POST" action="{%url 'home' %}">
  {% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    
  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Login</button>
  
</form>
</div>

{% endif %}
<br/><br/>
{% endblock %}